article{
    height: 380px;
    width: 32%;
}

h3{
    font-size: 20px;
}

header{
    color: #D04F4F;
}

input{
    border: none;
    background-color: #E7E7E7;
}

.img-article{
    background-color: #C7BEBE;
}

.desc-article{
    background-color: #E7E7E7;
}

.ingredients{
    font-size: 12px;
}

.ingredients > div{
    height: 127px;
    overflow: hidden;
}

.timer{
    width: 57px;
}

.search{
    width: 25px;
    right: 14px;
    top: 15px;
}

.desc-article-ellipsis{
    font-size: 12px;
    max-height: 123px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    line-height: 15px;
    -webkit-box-orient: vertical;
}

.search-2{
    background: transparent;
    color: white;
    width: -webkit-fill-available;
}

.search-2::placeholder {
    color: rgba(255, 255, 255, 0.592);
  }

.sticker > div{
    display: none;
}

.sticker:hover > span{
    display: none;
}

.sticker:hover > div{
    display: block;
}

.sticker:nth-child(2){
    background-color: #68D9A4!important;
}

.sticker:nth-child(3){
    background-color: #ED6454!important;
}

#ingredients, #Ustencils, #Appareils{
    max-width: 600px;
}

.etiquette{
    width: fit-content;
    margin-left: 0!important;
}

.etiquette > svg > path{
    fill: white;
}

.app{
    background-color: #68D9A4!important;
}

.etiquette > svg{
    width: 25px;
    padding-left: 8px;
}

#recettes{
    gap: 2%;
}

.usten{
    background-color: #ED6454!important;
}

.ingredient, .appareil, .ustencil{
    width: 200px;
    height: 25px;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.ingredient:hover, .ustencil:hover, .appareil:hover{
    background: #00000021;
}